@page "/{userID:int}"
@page "/"


@using Microsoft.AspNetCore.Components.Web.Extensions.Head
<Title Value="Lifeprint FOCUS" />
<Link rel="icon" type="image/x-icon" href="../wwwroot/img/favicon.ico" />




<h2>User Dashboard</h2>
<p class="alert alert-success">This dashboard is a work in progress, you will see graphs and analytics on performance from completed surveys.</p>
<p class="alert alert-danger">Blah blah blah blah blah blah blah</p>


<label> Here you can find important information and links.</label>

<div class="container h-100 dashboard-item-container">
    <div class="row justify-content-evenly ">
        <div class="col-sm item-box dashboard-item">
            <div class="content">

                <p class="item-box-title">
                    <h3>Dashboard Item 1</h3>
                </p>
                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...

                <br>
                <button class="btn btn-success">
                    Click me
                </button>
            </div>
        </div>
        <div class="col-sm item-box dashboard-item">
            <div class="content">

                <p class="item-box-title">
                    <h3></h3>
                </p>
                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...

                <br>
                <button class="btn btn-success">
                    Click me
                </button>
            </div>
        </div>
        <div class="col-sm item-box dashboard-item">
            <div class="content">

                <p class="item-box-title">
                    <h3>Progress</h3>
                </p>
                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...

                <br>
                <button class="btn btn-success">
                    Click me
                </button>
            </div>
        </div>

    </div>
</div>

@code {

    private List<Health> healthResults = new List<Health>();

    public List<int> subGH = new List<int>();
    public List<int> subEF = new List<int>();
    public List<int> subEW = new List<int>();
    public List<int> subHVSF = new List<int>();

    [Parameter]
    public int UserID { get; set; }

    protected override Task OnInitializedAsync()
    {
       @* GetHealthData();
        SplitDomains();
        CalculatePercentage();*@
        //OutputSubdomains();
        return Task.CompletedTask;
    }

    public void GetHealthData()
    {
        using var db = new LifeprintDatabaseContext();

        healthResults = db.Health.ToList();


    }

    private void SplitDomains()
    {
        subGH.Add(healthResults[0].H1GhHvsfScore ?? default(int));
        subGH.Add(healthResults[0].H2GhScore ?? default(int));
        subGH.Add(healthResults[0].H3GhScore ?? default(int));
        subGH.Add(healthResults[0].H4GhScore ?? default(int));
        subGH.Add(healthResults[0].H5GhScore ?? default(int));
        subGH.Add(healthResults[0].H15GhScore ?? default(int));
        subGH.Add(healthResults[0].H16GhScore ?? default(int));
        subGH.Add(healthResults[0].H17GhScore ?? default(int));
        subGH.Add(healthResults[0].H18GhScore ?? default(int));
    }

    private void OutputSubdomains()
    {
        foreach(int sub in subGH)
        {
            Console.WriteLine(sub);
        }
    }

    private void CalculatePercentage()
    {
        float sum = subGH.Sum();
        Console.WriteLine(sum);

        float max = (subGH.Count * 5);
        Console.WriteLine(max);

        float percentage = (sum / max) * 100f ;
        

        Console.WriteLine(percentage + "%");

    }

}