@page "/surveys"

@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime


<h2>Active Surveys</h2>

<div class="container-fluid survey-container">
    <div class="row">
        <div class="col-sm item-box">
            <div>
                <span class="btn"><strong> Health</strong></span>
                <a target="_blank" href="/survey/0"><button class="survey-button float-right btn btn-success">View Health Survey</button> </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm item-box">
            <div>
                <span class="btn"><strong>Being</strong></span>
                <a target="_blank" href="https://lifeprintfocus.limesurvey.net/545181?newtest=Y&lang=en"> <button class="survey-button float-right btn btn-success">View Being Survey</button></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm item-box">
            <div>
                <span class="btn"><strong>Social</strong></span>
                <a target="_blank" href="https://lifeprintfocus.limesurvey.net/545181?newtest=Y&lang=en">  <button class="survey-button float-right btn btn-success">View Social Survey</button></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm item-box">
            <div>
                <span class="btn"><strong>Vocation</strong></span>
                <a target="_blank" href="https://lifeprintfocus.limesurvey.net/545181?newtest=Y&lang=en">   <button class="survey-button float-right btn btn-success">View Vocation Survey</button></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm item-box">
            <div>
                <span class="btn"><strong>Wealth</strong></span>
                <a target="_blank" href="https://lifeprintfocus.limesurvey.net/545181?newtest=Y&lang=en">   <button class="survey-button float-right btn btn-success">View Wealth Survey</button></a>
            </div>
        </div>
    </div>
</div>

@code {


}